<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo que me Gusta</title>
    <%- include ("partials/head"); %>
</head>
<body>
    <%- include ("partials/navigation"); %>
    <div class="container">
            <div class="row col-12">
                <% images.forEach(function(image) { %>
                    <div class="card col-3">
                        <img src="<%= image.path %>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title %></h5>
                            <p class="card-text"><%= image.description %></p>
                            
                            <a href="/image/<%= image._id %>" class="btn btn-primary">
                               View Profile
                            </a>

                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
    
</body>
</html>