<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Profile</title>
    <%- include("partials/head"); %>
</head>
<body>
    <div class="container">
        <div class="row">
           <div class="col-md-4 offeset-md-4">
                <img src="<%= image.path %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= image.title %></h5>
                    <p class="card-text"><%= image.description %></p>
                    
                    <a href="/image/<%= image._id %>/delete" class="btn btn-danger btn-block">
                       Delete Image
                    </a>

                </div>
            </div>
           </div>
        </div>
    </div>
    
</body>
</html>